<footer class="cp-footer">
  <section class="cp-footer-body">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
       <%= link_to image_tag("logo.png", alt: "InJunior", class: 'logo'), 'http://injunior.com/' %>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 div-footer"> 
      <br>IN Junior - Empresa Junior do Instituto de Computação da UFF - Todos os direitos reservados 
      <br>Rua Passos da Pátria, 156 - Instituto de Computação - Sala 115-B, Niterói
    </div>
	</section>
</footer>
  

