<% provide(:title, 'Todos os candidatos') %>
<h1>Todos os Candidatos</h1>

<ul class="candidatos">
  <% @candidato.each do |cand| %>
    <li><%= cand.endereco %>
	<%= link_to image_tag(cand.endereco, alt: "Candidato 1", width: 80, high: 80), '#' %>
	</li>
	<li>Pontos: <%= cand.pontos %>

  <% end %>
</ul>

