<% provide(:title, 'Todos os Temas') %>
<h1>Todos os Temas</h1>

<ul class="temas">
  <% @temaa.each do |temaa| %>
    <li>
      <%= link_to temaa.tema, temaa %>
    </li>
  <% end %>
</ul>

