<% provide(:title, 'Todos os Temas') %>
<h1>Todos os Temas</h1>

<ul class="temas">
  <% @tema.each do |tema| %>
    <li>
      <%= link_to tema.conteudo, tema %>
    </li>
  <% end %>
</ul>

