<% provide(:title, @tema.conteudo) %>
<div class="row">
  <aside class="col-md-4">
    <section class="tema_info">
      <h1>
        <%= @tema.conteudo %>
      </h1>
    </section>
  </aside>
</div>