.navbar-default{
	background-color: transparent;
	border:0;
	padding-top: 15px;

	
}
.navbar-brand{
	padding-top: 10px;
	display:block;

}

.navbar{
	margin-bottom: -5px;
}
.navbar-default .navbar-nav>li>a{
	color:white;

}
header a{
	
	font-family:"Top Secret";

}

.navbar-default .navbar-nav>li>a{
	color:black;
	padding-top: 35px;
}

#navbar-collapse-1{
	font-size: 25px;
}
#footer{
	background-color: black;
	
}
.container{
	padding: 10px 10px;
}

#footer p{
	color:white;
	font-size: 16px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#footer img{
	margin-right: auto;
	margin-left: auto;
}
.arame img{
	width: 100%;
	height: 70%;
}
@media(max-width: 991px){
	.logo-site{
		max-width: 150px;

	}
	
}
	header .navbar-nav>li>a{
		font-size: 18px;
		margin-top: -16px;
	}

}
@media(max-width: 767px){
	.logo-site{
		max-width: 150px;
	}
	
	
}