
<% provide(:title, @micropost) %>
<div class="row">
  <aside class="col-md-4">
    <section class="micropost_info">
      <h1>
		<%= @micropost.tema %>
        <%= @micropost.endereco %>
      </h1>
    </section>
  </aside>
</div>