
<% provide(:title, @micropost.tema) %>
<div class="row">
  <aside class="col-md-4">
    <section class="micropost_info">
      <h1>
        <%= imagem_for @micropost %>
        <%= @micropost.endereco %>
      </h1>
    </section>
  </aside>
</div>