    <div class="container">
			<h2>Alistamento</h2>
<%= link_to image_tag("arame.gif", alt: "InBattle cerca"),
            'http://injunior.com/' %>
    </div>
	
	<h1>Paginas#alistamento</h1>
<p>Find me in app/views/paginas/alistamento.html.erb</p>
