<div class="container-fluid">
  <div class="container">
		<div class="corpo">
			<div class="container">
				<div class="row">
					<h2 id="qualTema">Clique na imagem do combatente que representa melhor o tema:</h2>
				</div>
				<div class="battle row center-block text-center">
					<span> E aí, vai deixar mesmo o campo de batalha vazio? </span><br>
					<span>Tira essa farda preta que vc é moleque...</span><br>
					<span>ou poste logo uma foto no Instagram com a <b>#INBattle</b></span>
				</div>
		  </div> <!-- /.container -->
	  </div> <!-- /.corpo -->
	</div>	

	<script async="" src="//www.google-analytics.com/analytics.js"></script>
	<script src="appendInsta.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-69749775-1', 'auto');
		ga('send', 'pageview');
	</script>
</div>	